body{
    padding: 1%;
    background-color: #333333;
}
table{
    width: 100%;
    height: 90vh;
    border-spacing: 3px;
    border-collapse: separate;
    padding: 20px;
}
td:not(.eje){
    cursor: pointer;
    border: 2px solid;
    border-radius: 20px;
    text-align: center;
    filter: brightness(0.5);
}
td:not(.eje):hover, td.selected{
    filter: brightness(1);
}
.eje{
    height: 1vh;
    border: none;
}
#contLogoMedidor{
    text-align: center;
}
#contLogoMedidor img{
    width: 100%;
}
#contLogoMedidor button{
    transition-duration: 0.5s;
    background-color: #ff3d29;
    color: white;
}
#contLogoMedidor button:hover{
    background-color: #f7119e;
    border: 1px solid white;
}

@media screen and (max-width: 768px) {
    .desktop{display: none;}
    #contLogoMedidor img{width: 40%;}
}

/* Colores de celdas */
#cell1-1{background-color: #e93224;}
#cell1-2{background-color: #e93f26;}
#cell1-3{background-color: #e95329;}
#cell1-4{background-color: #ec692e;}
#cell1-5{background-color: #ef8132;}
#cell1-6{background-color: #f4b740;}
#cell1-7{background-color: #f4c143;}
#cell1-8{background-color: #f6d047;}
#cell1-9{background-color: #f5db4b;}
#cell1-10{background-color: #f3e44e;}
#cell2-1{background-color: #de3225;}
#cell2-2{background-color: #d73c26;}
#cell2-3{background-color: #dc4e28;}
#cell2-4{background-color: #dd5f2b;}
#cell2-5{background-color: #dd5f2b;}
#cell2-6{background-color: #f1b942;}
#cell2-7{background-color: #efc343;}
#cell2-8{background-color: #eec845;}
#cell2-9{background-color: #efd548;}
#cell2-10{background-color: #f0dd4b;}
#cell3-1{background-color: #c93025;}
#cell3-2{background-color: #ca3b25;}
#cell3-3{background-color: #ca4627;}
#cell3-4{background-color: #ca562d;}
#cell3-5{background-color: #d16230;}
#cell3-6{background-color: #e8b841;}
#cell3-7{background-color: #eabe44;}
#cell3-8{background-color: #ecc746;}
#cell3-9{background-color: #ebcd47;}
#cell3-10{background-color: #e8d547;}
#cell4-1{background-color: #c13028;}
#cell4-2{background-color: #c23829;}
#cell4-3{background-color: #c0442b;}
#cell4-4{background-color: #bf4d2b;}
#cell4-5{background-color: #c3552e;}
#cell4-6{background-color: #e6b942;}
#cell4-7{background-color: #e8bc43;}
#cell4-8{background-color: #e5c244;}
#cell4-9{background-color: #e5c846;}
#cell4-10{background-color: #e6ce48;}
#cell5-1{background-color: #af3128;}
#cell5-2{background-color: #b7372c;}
#cell5-3{background-color: #b63e2b;}
#cell5-4{background-color: #b7452c;}
#cell5-5{background-color: #b44c2c;}
#cell5-6{background-color: #e6ba45;}
#cell5-7{background-color: #e3be43;}
#cell5-8{background-color: #e5bc44;}
#cell5-9{background-color: #dec147;}
#cell5-10{background-color: #e0c645;}
#cell6-1{background-color: #0738cf;}
#cell6-2{background-color: #1f53c1;}
#cell6-3{background-color: #326cba;}
#cell6-4{background-color: #4388b4;}
#cell6-5{background-color: #51a1ad;}
#cell6-6{background-color: #88bb4d;}
#cell6-7{background-color: #87b947;}
#cell6-8{background-color: #86b643;}
#cell6-9{background-color: #86b245;}
#cell6-10{background-color: #88b33f;}
#cell7-1{background-color: #0e31aa;}
#cell7-2{background-color: #2048a3;}
#cell7-3{background-color: #2c5d9d;}
#cell7-4{background-color: #3a7497;}
#cell7-5{background-color: #468b91;}
#cell7-6{background-color: #72ad4c;}
#cell7-7{background-color: #74af48;}
#cell7-8{background-color: #73ad44;}
#cell7-9{background-color: #6fa63b;}
#cell7-10{background-color: #70a737;}
#cell8-1{background-color: #152e8c;}
#cell8-2{background-color: #1f3e86;}
#cell8-3{background-color: #284f81;}
#cell8-4{background-color: #326081;}
#cell8-5{background-color: #3c6c79;}
#cell8-6{background-color: #62a44b;}
#cell8-7{background-color: #61a348;}
#cell8-8{background-color: #5f9c37;}
#cell8-9{background-color: #5e9c36;}
#cell8-10{background-color: #5e992f;}
#cell9-1{background-color: #182b77;}
#cell9-2{background-color: #203c71;}
#cell9-3{background-color: #284770;}
#cell9-4{background-color: #2f5068;}
#cell9-5{background-color: #365d67;}
#cell9-6{background-color: #4d9c4f;}
#cell9-7{background-color: #4a9643;}
#cell9-8{background-color: #499035;}
#cell9-9{background-color: #478c2f;}
#cell9-10{background-color: #46882a;}
#cell10-1{background-color: #1b2761;}
#cell10-2{background-color: #23325f;}
#cell10-3{background-color: #283c5f;}
#cell10-4{background-color: #2b435b;}
#cell10-5{background-color: #2e4958;}
#cell10-6{background-color: #3f8e4c;}
#cell10-7{background-color: #3c863f;}
#cell10-8{background-color: #3a8133;}
#cell10-9{background-color: #387e29;}
#cell10-10{background-color: #367722;}