body{
    background-color: #333333;
}
#fondo{
    background: url(../img/fondo.jpg) center center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
}
#medidor{
    padding: 1%;
}
.principio{
    height: 100vh;
}
#comenzar{
    animation-delay: 1s;
    transition-duration: 1s !important;
    font-size: 2em;
}
table{
    width: 100%;
    height: 90vh;
    border-spacing: 3px;
    border-collapse: separate;
    padding: 20px;
}
td:not(.eje){
    cursor: pointer;
    border: 2px solid;
    border-radius: 20px;
    text-align: center;
    filter: brightness(0.5);
    border-color: black;
    color: white;
    font-weight: bold;
    width: 10%;
    max-width: 10%;
}
td:not(.eje):hover, td.selected{
    filter: brightness(1);
}
.eje{
    height: 1vh;
    border: none;
}
#contLogoMedidor{
    text-align: center;
}
#contLogoMedidor img{
    width: 100%;
}
#contLogoMedidor button{
    transition-duration: 0.5s;
    background-color: #ff3d29;
    color: white;
}
#contLogoMedidor button:hover{
    background-color: #f7119e;
    border: 1px solid white;
}
#resultado #nombre{
    margin-top: 2%;
    text-align: center;
}
#resultado #explicacion{
    text-align: justify;
}
#textExplicativo{
    color: white;
    text-align: center;
    font-weight: bold;
}
.hidden{
    display:none;
}

@media screen and (max-width: 768px) {
    .desktop{display: none;}
    #contLogoMedidor img{width: 24%;}
    #textExplicativo{margin-top: 1em;}
}

/* Colores de celdas */
#cell1{background-color: #e93224;}
#cell2{background-color: #e93f26;}
#cell3{background-color: #e95329;}
#cell4{background-color: #ec692e;}
#cell5{background-color: #ef8132;}
#cell6{background-color: #f4b740;}
#cell7{background-color: #f4c143;}
#cell8{background-color: #f6d047;}
#cell9{background-color: #f5db4b;}
#cell10{background-color: #f3e44e;}
#cell11{background-color: #de3225;}
#cell12{background-color: #d73c26;}
#cell13{background-color: #dc4e28;}
#cell14{background-color: #dd5f2b;}
#cell15{background-color: #dd5f2b;}
#cell16{background-color: #f1b942;}
#cell17{background-color: #efc343;}
#cell18{background-color: #eec845;}
#cell19{background-color: #efd548;}
#cell20{background-color: #f0dd4b;}
#cell21{background-color: #c93025;}
#cell22{background-color: #ca3b25;}
#cell23{background-color: #ca4627;}
#cell24{background-color: #ca562d;}
#cell25{background-color: #d16230;}
#cell26{background-color: #e8b841;}
#cell27{background-color: #eabe44;}
#cell28{background-color: #ecc746;}
#cell29{background-color: #ebcd47;}
#cell30{background-color: #e8d547;}
#cell31{background-color: #c13028;}
#cell32{background-color: #c23829;}
#cell33{background-color: #c0442b;}
#cell34{background-color: #bf4d2b;}
#cell35{background-color: #c3552e;}
#cell36{background-color: #e6b942;}
#cell37{background-color: #e8bc43;}
#cell38{background-color: #e5c244;}
#cell39{background-color: #e5c846;}
#cell40{background-color: #e6ce48;}
#cell41{background-color: #af3128;}
#cell42{background-color: #b7372c;}
#cell43{background-color: #b63e2b;}
#cell44{background-color: #b7452c;}
#cell45{background-color: #b44c2c;}
#cell46{background-color: #e6ba45;}
#cell47{background-color: #e3be43;}
#cell48{background-color: #e5bc44;}
#cell49{background-color: #dec147;}
#cell50{background-color: #e0c645;}
#cell51{background-color: #0738cf;}
#cell52{background-color: #1f53c1;}
#cell53{background-color: #326cba;}
#cell54{background-color: #4388b4;}
#cell55{background-color: #51a1ad;}
#cell56{background-color: #88bb4d;}
#cell57{background-color: #87b947;}
#cell58{background-color: #86b643;}
#cell59{background-color: #86b245;}
#cell60{background-color: #88b33f;}
#cell61{background-color: #0e31aa;}
#cell62{background-color: #2048a3;}
#cell63{background-color: #2c5d9d;}
#cell64{background-color: #3a7497;}
#cell65{background-color: #468b91;}
#cell66{background-color: #72ad4c;}
#cell67{background-color: #74af48;}
#cell68{background-color: #73ad44;}
#cell69{background-color: #6fa63b;}
#cell70{background-color: #70a737;}
#cell71{background-color: #152e8c;}
#cell72{background-color: #1f3e86;}
#cell73{background-color: #284f81;}
#cell74{background-color: #326081;}
#cell75{background-color: #3c6c79;}
#cell76{background-color: #62a44b;}
#cell77{background-color: #61a348;}
#cell78{background-color: #5f9c37;}
#cell79{background-color: #5e9c36;}
#cell80{background-color: #5e992f;}
#cell81{background-color: #182b77;}
#cell82{background-color: #203c71;}
#cell83{background-color: #284770;}
#cell84{background-color: #2f5068;}
#cell85{background-color: #365d67;}
#cell86{background-color: #4d9c4f;}
#cell87{background-color: #4a9643;}
#cell88{background-color: #499035;}
#cell89{background-color: #478c2f;}
#cell90{background-color: #46882a;}
#cell91{background-color: #1b2761;}
#cell92{background-color: #23325f;}
#cell93{background-color: #283c5f;}
#cell94{background-color: #2b435b;}
#cell95{background-color: #2e4958;}
#cell96{background-color: #3f8e4c;}
#cell97{background-color: #3c863f;}
#cell98{background-color: #3a8133;}
#cell99{background-color: #387e29;}
#cell100{background-color: #367722;}